@import "./variables.scss";

* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent !important;
}

html {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    font-size: 14px;
}

body {
    font-size: inherit !important;
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
textarea {
    user-select: auto !important;
}

p {
    margin: 0;
    padding: 0;
}

*:not(textarea, input) {
    -webkit-touch-callout: none; /*系统默认菜单被禁用*/
    -webkit-user-select: none; /*webkit浏览器*/
    -khtml-user-select: none; /*早期浏览器*/
    -moz-user-select: none; /*火狐*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

img {
    pointer-events: none; /* 禁止长按图片保存 */
}

/* common style */
#app {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #191A39;
    background-size: cover;
    background-position: top left;
    -webkit-touch-callout: none;
}
