@import '../../../styles/variables.scss';

.loading-container {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-loading-container {
    @extend .loading-container;
    background: #fff;

    .center {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .description {
        position: absolute;
        width: 100%;
        text-align: center;
        color: #b9b9ba;
    }
}

.action-loading-container {
    @extend .loading-container;
    top: 0;
    left: 0;

    .point-list {
        display: flex;

        li {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-image: linear-gradient(-45deg,  $sec-primary-color, $primary-color);
            transition: all .1s;

            &:not(:last-child) {
                margin-right: 32px;
            }
        }
    }

    .loading-point-0 {
        animation: loading-point-animate 1s ease-in-out infinite;
    }

    .loading-point-1 {
        animation: loading-point-animate 1s .2s ease-in-out infinite;
    }

    .loading-point-2 {
        animation: loading-point-animate 1s .4s ease-in-out infinite;
    }
}

@keyframes loading-point-animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}