/* 最小宽高比，宽屏 */
@media (min-aspect-ratio: 3/5) {
    .common-bg .customer-img {
        max-height: 100vw !important;
    }

    .customer-info {
        .common-box-container {
            top: 55% !important;
        }
    }

    .da-tooltip-blue {
        top: 40vw;
    }
}
