@import "../styles/variables.scss";
@import "./ajust.scss";

/* pages/introducation.wxss */

.ai-card{
  overflow: hidden;
  overflow-y: scroll;
  height: 650px;
}

.intro-card{
  background-image: url(~Imgs/banner-card.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  .video{
    position: relative;
      top: -45px;
      .video-bg{
        background-color: none;
        background-size: 170px;
        background-repeat: no-repeat;
        background-position: 45px 47px;
        padding: 10px 0;
      }
    .intro-video{
      width: 120px;
      height: 120px;
      margin: auto;
      display: block;
      border-radius: 50%;
      
    }

    .play-btn{
      width: 78%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -30px;
      img{
        width: 40px;
        height: 40px;
      }
    }
    .play-text{
      line-height: 40px;
      color: #F2D5B4;
      font-size: 12px;
    }
  }

  .intro-text{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -90px;
    div{
      text-align: center;
      margin-top: 8px;
    }

    .fina-name{
      color: #f3f0e0;
      font-weight: 600;
      
    }
    
    .fina-addr{
      font-size: 12px;
      color: #aaa3b3
    }

    .fina-tel{
      display: block;
      height: 30px;
      line-height: 30px;
      align-items: center;
      margin-top: 8px;
      .tel-img{
        width: 50px;
        height: 18px;
        display: block;
        margin: 0 auto;
      }
    }
    
    
  }
}
  
.ai-card .assets-interprete{
    color: white;
    position: relative;
    top: 10px;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    .assets-banner{
      height: 50px;
      background-image: linear-gradient(90deg, #1C3A6D 0%, #2D3269 60%,#382C66 70%, #591D5E 100%);
      display: flex;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      .banner-text{
        width: 100%;
        line-height: 50px;
        color: #F2D5B4;
        text-align: center;
      }
      .banner-icon{
        display: block;
        width: 50px;
        position: relative;
        top:10px;
        right: 10px;
      }
    }

    .assets-box{
      background-color: #383552;
      box-shadow: inset 0px 15px 15px -15px #492465;
      padding-top:10px;
    }

    .assets-text{
      padding: 15px 0 15px 0;
      .assets-item{
        padding:10px 10px 15px;
        display: flex;
        .left-asset{
          width: 70%;
        }
        .asset-audio{
          height: 30px;
          width: 20%;
          line-height: 30px;
          padding: 0 10px;
          position: absolute;
          right: 20px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          img{
            width: 18px;
            height: 18px;
          }
          span{
            position: relative;
            left: 20px;
            color: #F2D5B4;
          }
        }
        .asset-title {
          font-weight: 400;
          font-size: 13px;
          color: #FFF7EA;
          padding: 5px;
        }

        .asset-keyword {
          color: #FFF7EB;
          padding: 1px 5px;
          border: 1px solid #696969;
          margin: 0 5px 5px 0;
          border-radius: 5px;
          opacity: 0.7;
          display: inline-block;
          font-size: 12px;
        }
      }

      .action-btn{
        display: flex;
        justify-content: space-around;
        .btn-cs{
          width: 40%;
          height: 35px;
          line-height: 35px;
          font-size: 14px;
          background-color: #4D4E6F;
          border-radius: 5px;
          color: #F2D5B4;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
        }

        .btn-cs::before{
          content: none;
        }

      }
    }

    .recommend{
      margin-top: 30px;
      .recommend-icon{
        width: 80%;
        margin: 0 auto;
        display: block;
      }
      .recommend-content{
        .recommend-item{
          width: 90%;
          background-color: #4D4E6F;
          margin: 10px auto 30px;
          border-radius: 5px;
          padding: 5px 0;
          height: 100px;
          .top-content{
            position: relative;
            left: 20px;
            padding: 5px 0 10px 0;
            font-size: 13px;
            .new-tag{
              background-image: linear-gradient(45deg, #F5D3C3 0%, #D3956C 50%, #D3956C 100%);
              padding: 2px 5px;
              border-radius: 3px;
              font-size: 8px;
              color: white;
              font-weight: 800;
            }
            .fund-name{
              position: relative;
              left: 20px;
              font-size: 16px;
              font-weight: 500;
              color: whitesmoke;
            }
          }

          .bottom-cotent{
            display: flex;
            .rate-box{
              background-image: linear-gradient(-225deg, #1C3A6D 0%, #313068 40%,#372D66 60%, #591D5E 100%);
              width: 40%;
              border-radius: 5px;
              text-align: center;
              padding: 15px 0px;
              position: relative;
              left: -15px;
              
            }
            .border-box{
              margin-left: 5px;
              color: #FFF7EB;
              font-size: 10px;
              padding: 1px 5px;
              border: 1px solid #696969;
              margin: 0 5px 5px 0;
              border-radius: 3px;
              opacity: 0.7;
            }

            .purchase{
              margin-top: 5px;
            }

            .arrow{
              position: relative;
              width: 10%;
              margin: 0 15px;
              right: -25px;
              img{
                width: 8px;
                height: 15px;
              }
              
            }
          }
        }
      }
    }

    .btn-show{
      width: 90%;
      padding: 10px 15px;
      background-image: linear-gradient(-225deg, #3E3F5C 0%, #3A3957 30%, #373350 70%,#332D4A 100%);
      margin: 0 auto 10px;
      border-radius: 5px;
      box-shadow:0 0 10px #232222 ;

      .show-title{
        color: #F2D5B4;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 2px 0;
        
        img{
          width: 30px;
        }
      }

      .show-content{
        font-size: 10px;
        color: #F2D5B4;
        line-height: 15px;
        img{
          width: 100%;
        }
      }
    }
  }

  .wifi-symbol {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%) rotate(135deg);
    margin-left: 15px;
    top: 15px;
    left: 25px;

    .wifi-circle {
      border: 2px solid #F2D5B4;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      clip-path: polygon(0 0, 0 60%, 60% 60%, 60% 0);
    }

    .first {
      width: 2px;
      height: 2px;
      background: #F2D5B4;
      top: 45px;
      left: 45px;
    }
    
    .second {
      width: 13px;
      height: 13px;
      top: 40px;
      left: 40px;
    }
    
    .third {
      width: 21px;
      height: 21px;
      top: 35px;
      left: 35px;
    }

  }

  .translate-icon{
    position: absolute;
    right:3%;
    top:50%;
    transform: translate(-50%, -50%);
    img{
      width: 14px;
      height: 14px;
    }
  }

  .duration-time{
    color: gray;
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(-50%, -50%)
  }

.active-audio {
  .second {
    animation: fadeInOut 1s infinite 0.2s;
  }
  
  .third {
    animation: fadeInOut 1s infinite 0.4s;
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0; /*初始状态 透明度为0*/
  }
  100% {
      opacity: 1; /*结尾状态 透明度为1*/
  }
}
  